// Styling for main section of about.html 

.about {
  img {
    align-self: center;
    padding-bottom: 5%;
    max-width: 50%;
    border-radius: 50%;
  }
  .info {
    background: $box-colour;
    border-radius: 10px;
    padding: 2%;
  }
  #resume {
    &:hover {
      text-decoration: underline overline;
    }
  }
}

#history {
  display: flex;
  flex-direction: column;
  img {
    width: 50%;
  } 
}

#skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .skill-container {
    background: $box-colour;
    padding: 1%;
    border-radius: 10px;
    width: 70%;
    #skill-icons {
      font-size: 5rem;
      color: $icon-colour;
    }
  }
}

@media only screen and (min-width: 640px) {
  /* For tablets: */
  #skills {
    width: 70%;
  }
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */ 
  #skills {
    width: 100%;
  }
  #history {
    flex-direction: row;
    flex-wrap: wrap;
    #profile {
      width: 30%;
    }
    .info {
      margin-left: 2%;
      width: 68%;
    }
  } 
  #interests {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    .info {
      width: 70%;
    }
    img {
      width: 30%;
    }
  }
}