// Setting up for about scss

.about {
  img {
    align-self: center;
    padding-bottom: 5%;
    max-width: 50%;
    border-radius: 50%;
  }
  #resume {
    &:hover {
      text-decoration: underline overline;
    }
  }
}

#history {
  display: flex;
  flex-direction: column;
  img {
    width: 50%;
  } 
}

#skills {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  #skill-icons {
    font-size: 5rem;
    width: 75%;
    color: #8A0039;
  }
}