// Styling for maing section of content.html

#contact {
    section {
        max-width: 80%;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        input, textarea {
            min-height: 1.5rem;
            margin: 1%;
            font-size: inherit;
        }
        .message {
            display: flex;
            flex-direction: column;
            textarea {
                height: 3rem;
                resize: vertical;
            }
            #submit {
                align-self: center;
                width: 50%;
                font-size: inherit;

                min-height: 2rem;
                font-weight: bold;
                background: $submit-button;
                border-radius: 5px;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}