// Setting up for footer scss

footer {
  grid-column: span 12;
  min-height: 20vh;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // background: #054BA6
  // color: #B11010;
  // color: #AE0A3B;
  // background: #A12B50;
  // color: #A12B50;
  // color: #8DB3E2;
  // color: #CFDDF2;
  // color: #405949;
  // background: #454545;
  // background: #f7f7f7;
}

.social-icons {
  font-size: 3rem;
  padding: 1%;
  // color: #481E38;
  // color: #0A403A;
  color: #8A0039;

}

