// Setting up for footer scss

footer {
  grid-column: span 12;
  min-height: 20vh;
  text-align: center;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.social-icons {
  font-size: 3rem;
  padding: 1%;
  color: $icon-colour;
  i { 
    &:hover {
      color: $icon-hover;
      // transform: scale(1.5);
      animation: shake 0.5s;
    }
    @keyframes shake {
      10% { transform: scale(1.2) translate(0px, -5px) rotate(-5deg); }
      15% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
      30% { transform: scale(1.2) translate(5px, -5px) rotate(5deg); }
      45% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
      60% { transform: scale(1.2) translate(0px, -5px) rotate(-5deg); }
      75% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
      90% { transform: scale(1.2) translate(5px, -5px) rotate(5deg); }
      100% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
    }
  }
}

