// Setting up for header scss

header {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #481E38;
} 

nav {
  text-align: right;
  z-index: 1;
  width: 100%;
} 

.menu-icon {
  font-size: 3rem;
  padding: 1%;
}


.menu a {
  display: block;
  font-size: 2.5rem;
  line-height: 4rem;
  border: 2px solid #481E38;
  background: rgba(236,183,169,1) ;
  text-align: center;
}

input:checked + .menu {
  display: block;
}

#hamburger {
  display: none;
}
