// Styling for main section of index.html

#index {
  section {
    min-width: 35%;
    height: 80%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $box-colour;
    border-radius: 5px;
  }
  .tablet-home, .desktop-home {
    display: none;
  }

  h1 {
    font-size: 3rem;   
    font-family: 'PT Mono', monospace;
    line-height: 4rem;
  }
  .social-logos {
    font-size: 3rem;
    color:$icon-colour;
    padding: 2%;
    i { 
    &:hover {
      color: $icon-hover;
      animation: shake 0.5s;
    }
    @keyframes shake {
      10% { transform: scale(1.2) translate(0px, -5px) rotate(-5deg); }
      15% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
      30% { transform: scale(1.2) translate(5px, -5px) rotate(5deg); }
      45% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
      60% { transform: scale(1.2) translate(0px, -5px) rotate(-5deg); }
      75% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
      90% { transform: scale(1.2) translate(5px, -5px) rotate(5deg); }
      100% { transform: scale(1.2) translate(0px, 0px) rotate(0deg); }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  /* For tablets: */
  .mobile-home {
    display: none;
  }
  .tablet-home {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  /* For desktop: */ 
  .mobile-home {
    display: none;
  }
  .desktop-home {
    display: block;
  }
}
}