// Setting up for index scss

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    top: 28%;
    width: 100%;
    align-items: center;
    color: #481E38;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 3.5rem;
    width: 80%;
}

.social-logos {
    font-size: 3rem;
    color: #481E38;
}
