// Setting up for index scss

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.tablet-home, .desktop-home, .menu, #hamburger {
  display: none;
}

section h1 {
  font-size: 4rem;   
   font-family: 'Indie Flower', cursive;

}
.social-logos {
    font-size: 3rem;
    color: #481E38;
}


