// Styling for main section of portfolio.html

#portfolio {
  img {
    max-height: 342px;
    max-width: 80vw;
  }
  .project {
    background: $box-colour;
    border-radius: 5px;
    margin: 2%;
  }
  .github {
    color: white;
  }
}

@media only screen and (min-width: 1008px) {
    #portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        .title {
          width: 100%;
      }   
      .project {
          width: 45%;
      }
    }
}