// Styling for main section of portfolio.html

#portfolio {
  img {
    max-height: 342px;
    max-width: 80vw;
  }
  .project {
    background: $box-colour;
    border-radius: 5px;
    margin: 2%;
    width: 90vw;
  }
  .portfolio-icon {
    color: white;
  }
}

@media only screen and (min-width: 1008px) {
    #portfolio {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        img {
          max-width: 100%;
        }
        h2 {
          margin-top: 1%;
        }
        .title {
          width: 100%;
        }   
        .project {
          display: flex;
          flex-direction: column;
          width: 45%;
          justify-content: center;
          align-items: center;
        }
    }
}