// Variables for ease of adjusting colours on each page

$main-background: linear-gradient(135deg, rgba(255,0,0,0.1),rgba(0,255,0,.1),rgba(0,0,255,0.1)) fixed;
$text-colour: #1F1F1F;
$icon-colour: #8A0039;
$icon-hover: hotpink;
$desktop-menu-hover: linear-gradient(135deg, rgba(255,0,0,0.3),rgba(0,255,0,.3),rgba(0,0,255,0.3)) fixed;
$desktop-menu-border-hover: grey;
$menu-border-mobile: #30546E;
$submit-button: linear-gradient(135deg, rgba(255,0,0,0.5),rgba(0,255,0,0.5),rgba(0,0,255,0.5));
$menu-colour-mobile: linear-gradient(135deg,#FA8072,#98FB98,#B0E0E6);
$blog-border: black;

    // background: #454545;
    // background: #f7f7f7;
    // background: #F2F2F2;
    // color: #CFDDF2;
    // color: #405949;
    //  color: #481E38;
    // color: #8DB3E2;
    // color: #30546E;
  // color:	#1F1F1F	;
  // color: #F2F2F2;
  // background: #07418c;
  // color: #010326;
  // color: #26642D;
  // color: #BDE5C1;
  // background: #9D2A4E;
  // color: #9D2A4E;
  // background: #BDE5C1;
  // background:#202020;	
  // background: linear-gradient(135deg, #000000, #434343) fixed;
  // background: #FAFAFA;
  // color: #8C1C03;
  // color: #DB9CB8;
  // color: #F2D4E2;
  // color: #FFF0F5; 
  // color: #8A0039;

      // background: linear-gradient(110deg, #07418c,#07418c 50%, #A50925 50%, #A50925 100%) fixed;
  // background: radial-gradient(circle, rgba(236,183,169,1) 30%, rgba(222,176,206,1) 100%) fixed;
