// Variables for ease of adjusting colours on each page

$main-background: white;
$text-colour: #1f1f1f;
$icon-colour: #B1394F;
$icon-hover: #3A8C7D;
$desktop-menu-hover: linear-gradient(135deg, rgba(255,0,0,0.3),rgba(0,255,0,.3),rgba(0,0,255,0.3)) fixed;
$desktop-menu-border-hover: grey;
$menu-border-mobile: #30546E;
$submit-button: linear-gradient(135deg, rgba(255,0,0,0.5),rgba(0,255,0,0.5),rgba(0,0,255,0.5));
$menu-colour-mobile: linear-gradient(135deg,#FA8072,#98FB98,#B0E0E6);
$blog-border: black;
$box-colour: #F7F7F7;
$heading-colour: #403F3C;