// Variables for ease of adjusting colours on each page

$main-background: linear-gradient(135deg, #000000, #303030) fixed;
$text-colour: #F0F8FF;
$icon-colour: #B6BFC8;
$icon-hover: #B0C4DE;
$desktop-menu-hover: #404040;
$desktop-menu-border-hover: grey;
$menu-border-mobile: #30546E;
$submit-button: #B0C4DE;
$menu-colour-mobile: #404040;
$blog-border: white;