@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Mono&display=swap");
.about img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 5%;
  max-width: 50%;
  border-radius: 50%;
}

.about .info {
  background: #010326;
  border-radius: 10px;
  padding: 2%;
}

.about #resume {
  color: #010326;
}

.about #resume:hover {
  color: #E87878;
  text-decoration: underline overline;
}

#history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#history img {
  width: 50%;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skill-container {
  background: #010326;
  padding: 1%;
  border-radius: 10px;
  width: 70%;
}

#skills .skill-container #skill-icons {
  font-size: 5rem;
  color: #E87878;
}

@media only screen and (min-width: 640px) {
  /* For tablets: */
  #skills {
    width: 70%;
  }
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */
  #skills {
    width: 100%;
  }
  #history {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #history #profile {
    width: 30%;
  }
  #history .info {
    margin-left: 2%;
    width: 68%;
  }
  #interests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #interests .info {
    width: 70%;
  }
  #interests img {
    width: 30%;
  }
}

#blog img {
  max-width: 80vw;
}

#blog .entry {
  background: #010326;
  border-radius: 10px;
  padding: 5% 0;
  border: 2px solid black;
  margin: 2%;
}

#blog #blog-one {
  border-top: 2px solid black;
}

#blog .blog-text {
  padding: 0 1%;
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */
  #blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #blog img {
    width: 30%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  #blog .entry {
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #blog .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #blog .title {
    width: 100%;
  }
}

#contact section {
  max-width: 80%;
  background: #010326;
  border-radius: 10px;
  margin: 2%;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

#contact form input, #contact form textarea {
  min-height: 1.5rem;
  margin: 1%;
  font-size: inherit;
}

#contact form .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form .message textarea {
  height: 3rem;
  resize: vertical;
}

#contact form .message #submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  font-size: inherit;
  margin: 2%;
  color: #010326;
  min-height: 2rem;
  font-weight: bold;
  background: #3A8C7D;
  border-radius: 5px;
}

#contact form .message #submit:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background: #010326;
  grid-column: span 12;
  min-height: 20vh;
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons {
  font-size: 3rem;
  padding: 1%;
  color: #E87878;
}

.social-icons i:hover {
  color: #3A8C7D;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@-webkit-keyframes shake {
  10% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
}

@keyframes shake {
  10% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
}

header {
  background: #010326;
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10vh;
  z-index: 2;
}

header nav {
  text-align: right;
  width: 100%;
  line-height: 4rem;
  font-size: 2.5rem;
}

header nav .menu-icon {
  font-size: 3rem;
  padding: 1%;
  padding-right: 3%;
}

header nav #hamburger {
  display: none;
}

.menu {
  border: 2px solid #D8D9D7;
  color: #D8D9D7;
  background: #101010;
  border-top: none;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(2rem) rotate3d(1, 0, 0, -90deg);
          transform: perspective(2rem) rotate3d(1, 0, 0, -90deg);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.menu a {
  display: block;
  border-top: 2px solid #D8D9D7;
  text-align: center;
}

.menu i {
  color: #E87878;
}

input:checked + .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 1000px;
  -webkit-transform: perspective(4rem) rotate3d(0, 0, 0, 0);
          transform: perspective(4rem) rotate3d(0, 0, 0, 0);
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */
  .menu-icon {
    display: none;
  }
  nav {
    width: 100%;
    height: 100%;
    line-height: 1rem;
  }
  .menu {
    min-height: 10vh;
    border: none;
    -webkit-transform: none;
            transform: none;
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu a {
    font-size: 2rem;
    padding: 1%;
    display: block;
    width: 100%;
    border: inherit;
  }
  .menu a:hover {
    border: 5px solid #D8D9D7;
  }
  .menu a:hover i {
    color: #3A8C7D;
  }
  .menu a i {
    padding: 1%;
  }
}

#index {
  background: #010326;
}

#index section {
  min-width: 35%;
  height: 80%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: inherit;
  border-radius: 5px;
}

#index .tablet-home, #index .desktop-home {
  display: none;
}

#index h1 {
  color: #D8D9D7;
  font-size: 3rem;
  font-family: 'PT Mono', monospace;
  line-height: 4rem;
}

#index .social-logos {
  font-size: 3rem;
  color: #E87878;
  padding: 2%;
}

#index .social-logos i:hover {
  color: #3A8C7D;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@keyframes shake {
  10% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #index {
    /* For tablets: */
  }
  #index .mobile-home {
    display: none;
  }
  #index .tablet-home {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  #index {
    /* For desktop: */
  }
  #index .mobile-home {
    display: none;
  }
  #index .desktop-home {
    display: block;
  }
}

#portfolio img {
  max-height: 342px;
  max-width: 80vw;
}

#portfolio .project {
  background: #010326;
  border-radius: 5px;
  margin: 2%;
  width: 90vw;
}

#portfolio .github {
  color: white;
}

@media only screen and (min-width: 1008px) {
  #portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #portfolio img {
    max-width: 100%;
  }
  #portfolio h2 {
    margin-top: 1%;
  }
  #portfolio .title {
    width: 100%;
  }
  #portfolio .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #E87878;
}

body {
  color: #D8D9D7;
  background: #010326;
}

h1, h2, h3 {
  color: #64BEAE;
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: min-content	 7fr min-content;
      grid-template-rows: -webkit-min-content	 7fr -webkit-min-content;
      grid-template-rows: min-content	 7fr min-content;
}

main {
  background: #D8D9D7;
  z-index: 1;
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  padding: 3%;
}

section h2 {
  padding-bottom: 5%;
  font-size: 1.8rem;
}

section h1 {
  font-size: 2.5rem;
}

.title {
  margin: 2%;
  color: #1E433D;
}

@media only screen and (min-width: 640px) {
  /* For tablets: Updates to font-size and line-heights */
  body {
    font-size: 18px;
  }
  #index h1, #index .social-logos {
    font-size: 4rem;
    line-height: 5rem;
  }
}

@media only screen and (min-width: 1008px) {
  /* For desktop: Updates to font-size, margins and line-heights */
  body {
    font-size: 20px;
  }
  .title {
    margin-top: 2%;
  }
  #index h1, #index .social-logos {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}
/*# sourceMappingURL=styles.css.map */