@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Mono&display=swap");
#history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#history img {
  width: 50%;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills #skill-icons {
  font-size: 5rem;
  width: 75%;
}

#contact section {
  max-width: 80%;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

#contact form input, #contact form textarea {
  min-height: 1.5rem;
  margin: 1%;
  font-size: inherit;
}

#contact form .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact form .message textarea {
  height: 3rem;
  resize: vertical;
}

#contact form .message #submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
  min-height: 2rem;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
  border-radius: 5px;
}

#contact form .message #submit:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  grid-column: span 12;
  min-height: 20vh;
  text-align: center;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-icons {
  font-size: 3rem;
  padding: 1%;
  color: #8A0039;
}

header {
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 10vh;
  z-index: 2;
}

nav {
  text-align: right;
  width: 100%;
  line-height: 4rem;
  font-size: 2.5rem;
}

.menu-icon {
  font-size: 3rem;
  padding: 1%;
  padding-right: 3%;
}

.menu {
  border: 2px solid #30546E;
  border-top: none;
  max-height: 0;
  overflow: hidden;
  -webkit-transform: perspective(2rem) rotate3d(1, 0, 0, -90deg);
          transform: perspective(2rem) rotate3d(1, 0, 0, -90deg);
  background: pink;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#hamburger {
  display: none;
}

.menu a {
  display: block;
  border-top: 2px solid #30546E;
  text-align: center;
}

.menu i {
  color: #8A0039;
}

input:checked + .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-height: 1000px;
  -webkit-transform: perspective(4rem) rotate3d(0, 0, 0, 0);
          transform: perspective(4rem) rotate3d(0, 0, 0, 0);
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */
  .menu-icon {
    display: none;
  }
  nav {
    width: 100%;
    height: 100%;
    line-height: 1rem;
  }
  .menu {
    min-height: 10vh;
    border: none;
    -webkit-transform: none;
            transform: none;
    background: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu a {
    font-size: 2rem;
    padding: 1%;
    display: block;
    width: 100%;
    border: none;
  }
  .menu a:hover {
    background: linear-gradient(135deg, rgba(255, 0, 0, 0.3), rgba(0, 255, 0, 0.3), rgba(0, 0, 255, 0.3)) fixed;
    border: 2px groove grey;
  }
  .menu a i {
    padding: 1%;
  }
}

#index section {
  min-width: 35%;
  height: 80%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#index .tablet-home, #index .desktop-home {
  display: none;
}

#index h1 {
  font-size: 3rem;
  font-family: 'PT Mono', monospace;
  line-height: 4rem;
}

#index .social-logos {
  font-size: 3rem;
  color: #8A0039;
  padding: 2%;
}

#index .social-logos i:hover {
  color: hotpink;
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}

@-webkit-keyframes shake {
  10% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
}

@keyframes shake {
  10% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  15% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  45% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  60% {
    -webkit-transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
            transform: scale(1.2) translate(0px, -5px) rotate(-5deg);
  }
  75% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
  90% {
    -webkit-transform: scale(1.2) translate(5px, -5px) rotate(5deg);
            transform: scale(1.2) translate(5px, -5px) rotate(5deg);
  }
  100% {
    -webkit-transform: scale(1.2) translate(0px, 0px) rotate(0deg);
            transform: scale(1.2) translate(0px, 0px) rotate(0deg);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #index {
    /* For tablets: */
  }
  #index .mobile-home {
    display: none;
  }
  #index .tablet-home {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  #index {
    /* For desktop: */
  }
  #index .mobile-home {
    display: none;
  }
  #index .desktop-home {
    display: block;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #1F1F1F;
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), rgba(0, 255, 0, 0.1), rgba(0, 0, 255, 0.1)) fixed;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: min-content	 7fr min-content;
      grid-template-rows: -webkit-min-content	 7fr -webkit-min-content;
      grid-template-rows: min-content	 7fr min-content;
}

main {
  z-index: 1;
  grid-column: span 12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section {
  padding: 5%;
}

section img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 5%;
  max-width: 50%;
  border-radius: 50%;
}

section h2 {
  padding-bottom: 5%;
  font-size: 1.8rem;
}

section h1 {
  font-size: 2.5rem;
}

@media only screen and (min-width: 640px) {
  /* For tablets: */
  /* For desktop: */
  body {
    font-size: 18px;
  }
  #index h1, #index .social-logos {
    font-size: 4rem;
    line-height: 5rem;
  }
  #skills {
    width: 70%;
  }
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */
  body {
    font-size: 20px;
  }
  #index h1, #index .social-logos {
    font-size: 4.5rem;
    line-height: 5rem;
  }
  #history {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #history img, #history #profile {
    width: 30%;
  }
  #history .info {
    padding-left: 10%;
    width: 70%;
  }
  #interests {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #interests .info {
    padding-right: 10%;
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */