@import "partials/variables";
@import "partials/about";
@import "partials/blog";
@import "partials/contact";
@import "partials/footer";
@import "partials/header";
@import "partials/index";
@import "partials/portfolio";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;

}

body {
  color: $text-colour;
  background: $main-background;
}

a {
  text-decoration: none;  
  color: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;    
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content	 7fr min-content;
}

main {
  z-index: 1;
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

section {
  padding: 5%;
  h2 {
    padding-bottom: 5%;
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 640px) {
  /* For tablets: */
    body {
      font-size: 18px;
    }
    #index {
      h1 , .social-logos {
        font-size: 4rem;
        line-height: 5rem;
      }
    }
  #skills {
    width: 70%;
  }
}

@media only screen and (min-width: 1008px) {
  /* For desktop: */ 
  body {
    font-size: 20px;
  }
  .title {
    margin-top: 2%;
  }
  #index {
    h1 , .social-logos {
      font-size: 4.5rem;
      line-height: 5rem;
    }
  }
  #skills {
    width: 100%;
  }
  #history {
    flex-direction: row;
    flex-wrap: wrap;
    #profile {
      width: 30%;
    }
    .info {
      padding-left: 10%;
      width: 70%;
    }
  } 
  #interests {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    .info {
      width: 70%;
    }
    img {
      width: 30%;
    }
  }
}